@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
} */

.header,
.footer,
.main {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* .header-links {
  display: flex;
  flex-direction: row;
  
  
} */

.header,
.footer {
  display: flex;
}

